@font-face {
    font-family: 'Fakodi';
    src: url('https://amfdigitalstudio-story.com/fonts/fakodi/fakodi-fakodi-400.otf');
    src: url('https://amfdigitalstudio-story.com/fonts/fakodi/fakodi-fakodi-400.woff2') format('woff2'),
         url('https://amfdigitalstudio-story.com/fonts/fakodi/fakodi-fakodi-400.woff') format('woff'),
         url('https://amfdigitalstudio-story.com/fonts/fakodi/fakodi-fakodi-400.ttf')  format('truetype');
}