@font-face {
    font-family: 'Heatwood';
    src: url('https://amfdigitalstudio-story.com/fonts/heatwood/fonts/Heatwood.eot');
    src: url('https://amfdigitalstudio-story.com/fonts/heatwood/fonts/Heatwood.eot?#iefix') format('embedded-opentype'),
         url('https://amfdigitalstudio-story.com/fonts/heatwood/fonts/Heatwood.woff2') format('woff2'),
         url('https://amfdigitalstudio-story.com/fonts/heatwood/fonts/Heatwood.woff') format('woff'),
         url('https://amfdigitalstudio-story.com/fonts/heatwood/fonts/Heatwood.ttf')  format('truetype'),
         url('https://amfdigitalstudio-story.com/fonts/heatwood/fonts/Heatwood.svg#Heatwood') format('svg');
}