@font-face {
    font-family: 'Brittany Signature';
    src: url('https://amfdigitalstudio-story.com/fonts/brittany_signature/BrittanySignature.eot');
    src: url('https://amfdigitalstudio-story.com/fonts/brittany_signature/BrittanySignature.eot?#iefix') format('embedded-opentype'),
         url('https://amfdigitalstudio-story.com/fonts/brittany_signature/BrittanySignature.woff2') format('woff2'),
         url('https://amfdigitalstudio-story.com/fonts/brittany_signature/BrittanySignature.woff') format('woff'),
         url('https://amfdigitalstudio-story.com/fonts/brittany_signature/BrittanySignature.ttf')  format('truetype'),
         url('https://amfdigitalstudio-story.com/fonts/brittany_signature/BrittanySignature.svg#Brittany Signature') format('svg');
}