@font-face {
    font-family: 'Photograph Signature';
    font-style: normal;
    font-weight: 500;
    src: url('https://amfdigitalstudio-story.com/fonts/photograph_signature/PhotographSignature.ttf') format('truetype');
}